<a href="https://colab.research.google.com/github/2303a52092/AIML_2303A52092/blob/main/lab01_AIML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Part 1 – Implement Basic Data Structures using Numpy, Pandas
1. Lists
2. Arrays
3. Identify their type using type()
4. Perform mathematical operations on these datasets created - multiplication, division,
poweroff
5. Combine text with Numpy fuction to generate a textual output - ”Addition of Two:
array1 +array 2
6. Implement np.sin(), log(), log2(), np.exp())

In [19]:
import numpy as np
lst1=[1,2,3]
lst2=[4,5,6]
array1 = np.array(lst1)
array2=np.array(lst2)
print(array1)
print(array2)

[1 2 3]
[4 5 6]

In [23]:
type(lst1)

list

In [22]:

type(array1)

numpy.ndarray

In [20]:
print("array2 multiplied by array1: ",array1*array2)
print("array2 divided by array1: ",array2/array1)
print("array2 raised to the power of array1: ",array2**array1)

array2 multiplied by array1:  [ 4 10 18]
array2 divided by array1:  [4.  2.5 2. ]
array2 raised to the power of array1:  [  4  25 216]

In [16]:
print("Sine: ",np.sin(array1))
print("Natural logarithm: ",np.log(array1))
print("Base-10 logarithm: ",np.log10(array1))
print("Base-2 logarithm: ",np.log2(array1))
print("Exponential: ",np.exp(array1))

Sine:  [0.84147098 0.90929743 0.14112001]
Natural logarithm:  [0.         0.69314718 1.09861229]
Base-10 logarithm:  [0.         0.30103    0.47712125]
Base-2 logarithm:  [0.        1.        1.5849625]
Exponential:  [ 2.71828183  7.3890561  20.08553692]

In [15]:
print("Adding two numpy arrays {array1} and {array2} together:", array1+array2)

Adding two numpy arrays {array1} and {array2} together: [3 5 7]

In [14]:
print(f"Adding two numpy arrays {array1} and {array2} together: {array1+array2}")

Adding two numpy arrays [1 2 3] and [2 3 4] together: [3 5 7]